<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="menu-spacer"><br/><img src="assets/images/basketball-men.png" width="75px" height="75px"></span>
    <h1>&nbsp;&nbsp;NCAA Tourney 2020</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/makepicks'"> Your Picks </a>
      <a mat-button [routerLink]="'/create-account'"> Everyones Picks </a>
      <a mat-button [routerLink]="'/contacts'"> Tourney </a>
      <a mat-button [routerLink]="'/accounts'"> Update Account </a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
