<h1 *ngIf="!editTeam" mat-dialog-title>Add Team</h1>
<h1 *ngIf="editTeam" mat-dialog-title>Update Team</h1>
<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="team.name">
  </mat-form-field><br/>
  <mat-form-field>
      <input matInput placeholder="Seed (1-16)" [(ngModel)]="team.seed">
    </mat-form-field>

  <span *ngIf="editTeam">
    <mat-form-field>
      <input matInput placeholder="First Round" [(ngModel)]="team.score64">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Second Round" [(ngModel)]="team.score32">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Sweet Sixteen" [(ngModel)]="team.score16">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Elite Eight" [(ngModel)]="team.score8">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Final Four" [(ngModel)]="team.score4">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Championship" [(ngModel)]="team.score2">
    </mat-form-field>
    <mat-slide-toggle [(ngModel)]="team.alive">Alive</mat-slide-toggle>
  </span>
    

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="team" cdkFocusInitial>Save</button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</mat-dialog-actions>
