<head>
  <style>
  .mat-button-toggle-checked {
    background-color: #3F51B5;
    color: white;
  }
  </style>
</head>
<div style="padding: 20px; margin-left: auto; margin-right: auto;">
  <table>
    <tr>
  <td># 1</td>
      <td>
<mat-button-toggle-group #group="matButtonToggleGroup">
  <mat-button-toggle style="width:150px;" value="kentucky" aria-label="Text align left">
    Kentucky
  </mat-button-toggle>
  <mat-button-toggle style="width:150px;" value="duke" aria-label="Text align center">
    Duke
  </mat-button-toggle>
  <mat-button-toggle style="width:150px;" value="kansas" aria-label="Text align right">
    Kansas
  </mat-button-toggle>
  <mat-button-toggle style="width:150px;" value="unc" aria-label="Text align justify">
    UNC
  </mat-button-toggle>
</mat-button-toggle-group></td>
    </tr>
    <tr>
      <td># 2</td>
      <td>
  <mat-button-toggle-group #group="matButtonToggleGroup">
    <mat-button-toggle style="width:150px;" value="kentucky" aria-label="Text align left">
      Oklahoma
    </mat-button-toggle>
    <mat-button-toggle style="width:150px;" value="duke" aria-label="Text align center">
      Virginia
    </mat-button-toggle>
    <mat-button-toggle style="width:150px;" value="kansas" aria-label="Text align right">
      Florida State
    </mat-button-toggle>
    <mat-button-toggle style="width:150px;" value="unc" aria-label="Text align justify">
      Georgia Tech
    </mat-button-toggle>
  </mat-button-toggle-group>
      </td></tr>
    <tr>
      <td># 3</td>
      <td>
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle style="width:150px;" value="kentucky" aria-label="Text align left">
            Oklahoma
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="duke" aria-label="Text align center">
            Virginia
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="kansas" aria-label="Text align right">
            Florida State
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="unc" aria-label="Text align justify">
            Georgia Tech
          </mat-button-toggle>
        </mat-button-toggle-group>
      </td></tr>
    <tr>
      <td># 4</td>
      <td>
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle style="width:150px;" value="kentucky" aria-label="Text align left">
            Oklahoma
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="duke" aria-label="Text align center">
            Virginia
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="kansas" aria-label="Text align right">
            Florida State
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="unc" aria-label="Text align justify">
            Georgia Tech
          </mat-button-toggle>
        </mat-button-toggle-group>
      </td></tr>
    <tr>
      <td># 5</td>
      <td>
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle style="width:150px;" value="kentucky" aria-label="Text align left">
            Oklahoma
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="duke" aria-label="Text align center">
            Virginia
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="kansas" aria-label="Text align right">
            Florida State
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="unc" aria-label="Text align justify">
            Georgia Tech
          </mat-button-toggle>
        </mat-button-toggle-group>
      </td></tr>
    <tr>
      <td># 6</td>
      <td>
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle style="width:150px;" value="kentucky" aria-label="Text align left">
            Oklahoma
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="duke" aria-label="Text align center">
            Virginia
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="kansas" aria-label="Text align right">
            Florida State
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="unc" aria-label="Text align justify">
            Georgia Tech
          </mat-button-toggle>
        </mat-button-toggle-group>
      </td></tr>
    <tr>
      <td># 7</td>
      <td>
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle style="width:150px;" value="kentucky" aria-label="Text align left">
            Oklahoma
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="duke" aria-label="Text align center">
            Virginia
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="kansas" aria-label="Text align right">
            Florida State
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="unc" aria-label="Text align justify">
            Georgia Tech
          </mat-button-toggle>
        </mat-button-toggle-group>
      </td></tr>
    <tr>
      <td># 8</td>
      <td>
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle style="width:150px;" value="kentucky" aria-label="Text align left">
            Oklahoma
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="duke" aria-label="Text align center">
            Virginia
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="kansas" aria-label="Text align right">
            Florida State
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="unc" aria-label="Text align justify">
            Georgia Tech
          </mat-button-toggle>
        </mat-button-toggle-group>
      </td></tr>
    <tr>
      <td># 9</td>
      <td>
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle style="width:150px;" value="kentucky" aria-label="Text align left">
            Oklahoma
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="duke" aria-label="Text align center">
            Virginia
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="kansas" aria-label="Text align right">
            Florida State
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="unc" aria-label="Text align justify">
            Georgia Tech
          </mat-button-toggle>
        </mat-button-toggle-group>
      </td></tr>
    <tr>
      <td># 10</td>
      <td>
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle style="width:150px;" value="kentucky" aria-label="Text align left">
            Oklahoma
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="duke" aria-label="Text align center">
            Virginia
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="kansas" aria-label="Text align right">
            Florida State
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="unc" aria-label="Text align justify">
            Georgia Tech
          </mat-button-toggle>
        </mat-button-toggle-group>
      </td></tr>
    <tr>
      <td># 11</td>
      <td>
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle style="width:150px;" value="kentucky" aria-label="Text align left">
            Oklahoma
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="duke" aria-label="Text align center">
            Virginia
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="kansas" aria-label="Text align right">
            Florida State
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="unc" aria-label="Text align justify">
            Georgia Tech
          </mat-button-toggle>
        </mat-button-toggle-group>
      </td></tr>
    <tr>
      <td># 12</td>
      <td>
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle style="width:150px;" value="kentucky" aria-label="Text align left">
            Oklahoma
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="duke" aria-label="Text align center">
            Virginia
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="kansas" aria-label="Text align right">
            Florida State
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="unc" aria-label="Text align justify">
            Georgia Tech
          </mat-button-toggle>
        </mat-button-toggle-group>
      </td></tr>
    <tr>
      <td># 13</td>
      <td>
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle style="width:150px;" value="kentucky" aria-label="Text align left">
            Oklahoma
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="duke" aria-label="Text align center">
            Virginia
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="kansas" aria-label="Text align right">
            Florida State
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="unc" aria-label="Text align justify">
            Georgia Tech
          </mat-button-toggle>
        </mat-button-toggle-group>
      </td></tr>
    <tr>
      <td># 14</td>
      <td>
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle style="width:150px;" value="kentucky" aria-label="Text align left">
            Oklahoma
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="duke" aria-label="Text align center">
            Virginia
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="kansas" aria-label="Text align right">
            Florida State
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="unc" aria-label="Text align justify">
            Georgia Tech
          </mat-button-toggle>
        </mat-button-toggle-group>
      </td></tr>
    <tr>
      <td># 15</td>
      <td>
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle style="width:150px;" value="kentucky" aria-label="Text align left">
            Oklahoma
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="duke" aria-label="Text align center">
            Virginia
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="kansas" aria-label="Text align right">
            Florida State
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="unc" aria-label="Text align justify">
            Georgia Tech
          </mat-button-toggle>
        </mat-button-toggle-group>
      </td></tr>
    <tr>
      <td># 16</td>
      <td>
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle style="width:150px;" value="kentucky" aria-label="Text align left">
            Oklahoma
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="duke" aria-label="Text align center">
            Virginia
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="kansas" aria-label="Text align right">
            Florida State
          </mat-button-toggle>
          <mat-button-toggle style="width:150px;" value="unc" aria-label="Text align justify">
            Georgia Tech
          </mat-button-toggle>
        </mat-button-toggle-group>
      </td></tr>
  </table>
<div class="example-selected-value">Selected value: {{group.value}}</div>
</div>
