<div style="padding:10px;">
<h2>Pool State</h2>
<table class="mat-table" style="width:30%; border: 1px; padding: 5px;">
    <tr class="mat-row">
        <td class="mat-cell">Tournament State</td>
        <td class="mat-cell">
            <mat-select [(value)]="poolState.state">
                <mat-option value="ADMIN_PICKS">ADMIN_PICKS</mat-option>
                <mat-option value="USER_PICKS">USER_PICKS</mat-option>
                <mat-option value="TOURNEY">TOURNEY</mat-option>
            </mat-select>
        </td>
    </tr>
      <tr class="mat-row">
        <td class="mat-cell">Tourney Year</td>
        <td class="mat-cell">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Year" [(ngModel)]="poolState.tourneyYear">
              </mat-form-field>
        </td>
      </tr>
  </table><br/>
  <button mat-raised-button color="primary" (click)="updatePoolState()">Update Pool State</button>
  <br/><br/>
  <mat-divider></mat-divider>
<h2>Teams</h2>
<button mat-raised-button color="primary" (click)="openTeamDialog()">Add a team</button><br/><br/>
<table mat-table [dataSource]="dataSource" class="mat-table" style="width:40%">
  <ng-container matColumnDef="seed">
    <th mat-header-cell *matHeaderCellDef> Seed </th>
    <td mat-cell *matCellDef="let element"> {{element.seed}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef> Options </th>
    <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button aria-label="Edit Button" (click)="openTeamDialog(element.id)" color="primary">
                    <mat-icon>edit</mat-icon>
                </button>   
        <button mat-icon-button aria-label="Delete Button" (click)="deleteTeam(element.id)" color="warn">
            <mat-icon>delete</mat-icon>
        </button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="teamColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: teamColumns;"></tr>
</table>
<br/><br/>
<mat-divider></mat-divider>
<h2>Users</h2>
<table mat-table [dataSource]="userDataSource" class="mat-table" style="width:100%">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
      
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
            
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="displayName">
        <th mat-header-cell *matHeaderCellDef> Display Name </th>
        <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
    </ng-container>
            
    <ng-container matColumnDef="admin">
        <th mat-header-cell *matHeaderCellDef> Admin </th>
        <td mat-cell *matCellDef="let element"> {{element.admin}} </td>
    </ng-container>

    <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef> Options </th>
    <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button aria-label="Edit Button" color="primary">
                    <mat-icon>edit</mat-icon>
                </button>   
        <button mat-icon-button aria-label="Delete Button" (click)="deleteUser(element.id)" color="warn">
            <mat-icon>delete</mat-icon>
        </button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="userColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: userColumns;"></tr>
</table>
</div>
